<div class="container">
    <div class="title">CHOOSE YOUR PLAYER</div>
    <a class="player" @enterRemoveTrigger *ngFor="let player of players" [class.selected]="player.isReady">
        <div>
            <h1 *ngIf="!player.isReady">PRESS ({{ VirtualKeys[player.key] }}) FOR PLAYER {{ player.playerNumber }}</h1>
            <h1 *ngIf="player.isReady">SUCCESS!</h1>
            <img class="joystick" src="assets/images/joystick.png" />
            <img *ngIf="player.key === VirtualKeys.A" src="assets/images/a-button-select-pink.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.A && player.isReady" src="assets/images/a-button-select-green.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.B" src="assets/images/b-button-select-pink.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.B && player.isReady" src="assets/images/b-button-select-green.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.X" src="assets/images/x-button-select-pink.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.X && player.isReady" src="assets/images/x-button-select-green.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.Y" src="assets/images/y-button-select-pink.png" class="buttons" />
            <img *ngIf="player.key === VirtualKeys.Y && player.isReady" src="assets/images/y-button-select-green.png" class="buttons" />
        </div>
    </a>
</div>
