:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .title {
        width: 100%;
        height: 53px;
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .container {
        padding-top: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .player {
            width: 805px;
            height: 418px;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
            border: solid 3px #041421;
            background-image: linear-gradient(to bottom, #0a1f30 10%, #040e16 71%);
            margin: 15px;
            position: relative;
            color: white;
            text-align: center;

            h1 {
                position: absolute;
                width: 805px;
                font-size: 21px;
                font-weight: 900;
                letter-spacing: 2.75px;
                top: 14px;
            }

            .joystick {
                position: absolute;
                left: 46px;
                top: 75px;
            }

            .buttons {
                position: absolute;
                top: 87px;
                right: 93px;
            }

            &.selected {
                .buttons {
                    width: 94px;
                    height: 121.6px;
                    transform: rotate(16deg);
                    box-shadow: 0 0 12px 10px #00ca17;
                    border: solid 3px #f5f041;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }
    }
}
