:host {
    display: flex;
    height: 100%;
    padding-top: 75px;
    flex-wrap: wrap;
    place-content: center flex-start;

    .content {
        width: 100%;
    }

    .game {
        width: 522px;
        height: 252px;
        margin: 30px - 4; //remove border
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.03);
        border: solid 4px transparent;
        border-radius: 20px;

        &:focus,
        &:hover {
            border-color: #f8f8f8;
        }

        img {
            width: 100%;
        }
    }
}
