:host {
    display: block;
    height: 100%;
}

.title {
    font-family: Lato;
    font-size: 36px;
    padding-bottom: 37px;
    border-bottom: solid 1px #979797;
}

.section {
    margin-top: 55px;
}
