body {
    margin: 0;
    background: url('assets/background.svg') center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    overscroll-behavior: none;
    overflow-y: hidden;
}
