/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: black;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Joystix Monospace";
  src: url("assets/joystix.ttf") format("truetype");
  font-style: normal;
}